<launch>

  <!-- Setup the camera -->
  <arg name="camera" default="/rosberrypi_cam_node"/>

  <!-- ORB_SLAM2 Stereo -->
  <node pkg="orb_tracker" type="orb_tracker" name="orb_tracker" output="screen" args="$(find orb_tracker)/vocabulary/ORBvoc.txt">
    <remap from="/camera/left/image_rect" to="$(arg camera)/image_raw"/>
    <remap from="/camera/left/camera_info" to="$(arg camera)/camera_info"/>
    <remap from="/camera/right/image_rect" to="$(arg camera)/image_raw"/>
    <remap from="/camera/right/camera_info" to="$(arg camera)/camera_info"/>
  </node>

</launch>