<launch>

	<!-- Screen -->
	<node pkg="rqt_image_view" name="rqt_image_view" type="rqt_image_view"/>

  <!-- Teleoperation -->
  <include file="$(find colegobot)/launch/teleoperation.launch"/>


<!-- ORB -->
  <arg name="vocabualry" default="/home/eric/catkin_ws/src/ORB_SLAM2/Vocabulary/ORBvoc.txt"/> 
  <arg name="settings"   default="/home/eric/catkin_ws/src/ORB_SLAM2/Examples/Monocular/default.yaml"/> 
  <node name="ORB_SLAM2" pkg="ORB_SLAM2" type="Mono" args="$(arg vocabualry) $(arg settings)"  output="screen"/>


  <!-- Transform -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="-0.05.0 0.0 -0.10 0.0 0.0 0 /camera /colegobot 100" />
  
  <node pkg="colegobot" type="pose_broadcaster" name="pose_broadcaster" output="screen"/>



</launch>